[Desktop Entry]
Name=Hasher
GenericName=Hasher
Comment=Hash your files
Categories=Utility;
Exec=com.github.jeysonflores.hasher
Icon=com.github.jeysonflores.hasher
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.jeysonflores.hasher
Keywords=Utility;
